DATABASE_URI=mongodb://127.0.0.1:27017/escrow-stellar-demo

STELLAR_NETWORK=testnet
STELLAR_RPC_URL=https://soroban-testnet.stellar.org
VITE_DEAL_ESCROW_CONTRACT=CASW4L3WIFJDL2ZOBKBEMO6GV5O34DRBURRUF2EPRFFIQLJHZMSUK7IC

INDEXER_ENABLED=true
INDEXER_OVERLAP_LEDGERS=5
INDEXER_START_LEDGER=

INNGEST_EVENT_KEY=
INNGEST_SIGNING_KEY=
PORT=3000
FRONTEND_DIST_PATH=
